.pageContainer {
  width: 70%;
  margin: 2vw auto 0 25vw;
}

.feed {
  width: 100%;
  display: inline-block;
  background: #E1B053;
  height: 100%;
  min-height: 37.5vw;
  vertical-align: top;
  text-align: center;
  box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
}

.categories {
  width: 20%;
  display: inline-block;
  position: sticky;
  top: 5vw;
}

.categoriesList {
  display: flex;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2vw;
}

.categoryItem {
  display: flex;
  background-color: #fff;
  cursor: pointer;
  width: 30%;
  height: 10vw;
  padding: 1vw;
}

.categoryItem:hover {
  background-color: #7FB527;
}

.categoryItem img {
  display: block;
  max-height: 100%;
  margin: 0 auto;
  width: 100%;
}

.headersContainer {
  height: 5vw;
  position: sticky;
  top: 0;
  z-index: 10;
}

.headerLeft, .headerRight {
  display: inline-block;
  background-color: #e2bb53;
  border: 3px solid black;
  height: 100%;
  padding: 0.5vw 0;
}

.headerLeft {
  width: 100%;
}

.headerLeft img {
  display: block;
  max-height: 100%;
  margin: 0 auto;
}

.headerRight {
  width: 20%;
}

.headerRight img {
  display: block;
  max-height: 100%;
  margin: 0 auto;
}
